body {
    background-color: #161616 !important;
}

.progress-bar {
    width: 25% !important;
    background-color: #F0F8FF !important;
}

.progress {
    background-color: #272727 !important;
}

.form-check {
    float: right;
    padding: 2em;
}