@font-face { font-family: Avenir-Book; src: url('./AvenirLTStd-Book.otf'); }
body {
    background-color: #161616 !important;
}

h1 {
    font-family: Avenir-Book;
    color: #FFFFFF;
}
.progress-bar {
    background-color: #F0F8FF !important;
}

.progress {
    background-color: #272727 !important;
    height: 1em !important;
}

.form-check {
    float: right;
    padding: 2em;
}

.overlap {
    position: relative;
}